install/
devel/
build/
*~
*.swp
*.bak
*.user
.DS_Store
.cproject
.project
.settings
*.pyc
*.gch
*.cbp
*CMakeFiles*
*catkin_generated*
*Makefile
*.*~
*/*.*~
*/*/*.*~
*/*/*/*.*~
*/*/*/*/*.*~
*/*/*/*/*/*.*~
*/*/*/*/*/*/*.*~
src/urlg_robots_vrep/
.idea/
background/
req_pkg/
cmake-build-debug/
*.aux
*/*.aux
*/*/*.aux
*/*/*/*.aux
*/*/*/*/*.aux
*/*/*/*/*/*.aux
*/*/*/*/*/*/*.aux
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*/*/*/*/*/*/*.log
*.gz
*/*.gz
*/*/*.gz
*/*/*/*.gz
*/*/*/*/*.gz
*/*/*/*/*/*.gz
*/*/*/*/*/*/*.gz
.ipynb_checkpoints/
.catkin_tools/
logs/
src/mitcar_bkup/
