install/
devel/
build/
*~
*.swp
*.bak
*.user
.DS_Store
.cproject
.project
.settings
*.pyc
*.gch
*.cbp
*CMakeFiles*
*catkin_generated*
*Makefile
*.*~
*/*.*~
*/*/*.*~
*/*/*/*.*~
*/*/*/*/*.*~
*/*/*/*/*/*.*~
*/*/*/*/*/*/*.*~
src/urlg_robots_vrep/
.idea/
background/
req_pkg/
cmake-build-debug/
*.aux
*/*.aux
*/*/*.aux
*/*/*/*.aux
*/*/*/*/*.aux
*/*/*/*/*/*.aux
*/*/*/*/*/*/*.aux
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*/*/*/*/*/*/*.log
*.gz
*/*.gz
*/*/*.gz
*/*/*/*.gz
*/*/*/*/*.gz
*/*/*/*/*/*.gz
*/*/*/*/*/*/*.gz
.ipynb_checkpoints/
.catkin_tools/
logs/
src/mitcar_bkup/
halltest01_2019-04-12-13-49-06.bag
src/mitcar/scripts/halltest02_2019-04-12-14-00-36.bag
*/*/*.bag
*/*.bag
halltest03_2019-04-12-14-07-31.bag
imgui.ini
hallway09_2019-04-15-12-37-29.bag
hallway11_2019-04-15-12-18-48.bag
hallway12_2019-04-15-12-20-43.bag
hallway13_2019-04-15-12-23-20.bag
hallway14_2019-04-15-12-31-59.bag
hallway15_2019-04-15-12-34-22.bag
hallway16_2019-04-15-12-38-14.bag
hallway17_2019-04-15-12-51-49.bag
hallway18_2019-04-15-12-54-41.bag
hallway19_2019-04-15-13-10-49.bag
hallway20_2019-04-15-13-19-03.bag
hallway21_2019-04-15-13-23-12.bag
hallway22_2019-04-15-13-35-07.bag
hallway23_2019-04-15-13-38-14.bag
hallway24_2019-04-15-13-40-40.bag
hallway25_2019-04-15-13-42-20.bag
hallwayNN_2019-04-15-12-13-57.bag
