.vscode
install/
devel/
build/
*~
*.swp
*.bak
*.user
.DS_Store
.cproject
.project
.settings
*.pyc
*.gch
*.cbp
*.bag 
*.active
*CMakeFiles*
*catkin_generated*
*Makefile
*.*~
*/*.*~
*/*/*.*~
*/*/*/*.*~
*/*/*/*/*.*~
*/*/*/*/*/*.*~
*/*/*/*/*/*/*.*~
src/urlg_robots_vrep/
.idea/
background/
req_pkg/
cmake-build-debug/
*.aux
*/*.aux
*/*/*.aux
*/*/*/*.aux
*/*/*/*/*.aux
*/*/*/*/*/*.aux
*/*/*/*/*/*/*.aux
*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*/*/*/*/*/*/*.log
*.gz
*/*.gz
*/*/*.gz
*/*/*/*.gz
*/*/*/*/*.gz
*/*/*/*/*/*.gz
*/*/*/*/*/*/*.gz
.ipynb_checkpoints/
.catkin_tools/
logs/
src/mitcar_bkup/
halltest01_2019-04-12-13-49-06.bag
src/mitcar/scripts/halltest02_2019-04-12-14-00-36.bag
*/*/*.bag
*/*.bag
*.ini
*/*/*/.goutputstream*
src/mitcar/CATKIN_IGNORE
Report/main.pdf
Report/root.pdf
